table {
  width: 100%;
}

table, tr, td, th {
  border: 1px solid #ccc;
}

.mini-menu-wrapper  {
  margin-bottom: 20px;
}

ul.mini-menu li {
  float: left;
  margin-right: 20px;
  list-style: none;
}

.hidden {
  display: none;
}

.flash-error {
    padding: 5px;
    border: 1px solid red;
    color: red;
}

.flash-success {
    padding: 5px;
    border: 1px solid green;
    color: green;
}