@()

<div class="column is-one-fifth">
    <aside class="menu">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li><a href="@routes.HomeController.index()">Dashboard</a></li>
        </ul>
        <p class="menu-label">
            Transactions
        </p>
        <ul class="menu-list">
            <li><a href='@routes.TransactionsController.list()'>Activity</a></li>
            <li><a href='@routes.TransactionsController.importTx()'>Import</a></li>
        </ul>
    </aside>
</div>