@()(implicit request: RequestHeader)

<div class="column is-one-fifth">
    <aside class="menu">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li><a @if(request.path == routes.HomeController.index().toString) { class="is-active" } href="@routes.HomeController.index()">Dashboard</a></li>
        </ul>
        <p class="menu-label">
            Transactions
        </p>
        <ul class="menu-list">
            <li><a @if(request.path == routes.TransactionsController.list().toString) { class="is-active" } href='@routes.TransactionsController.list()'>Activity</a></li>
            <li><a @if(request.path == routes.TransactionsController.importTx().toString) { class="is-active" } href='@routes.TransactionsController.importTx()'>Import</a></li>
        </ul>
    </aside>
</div>