@import modelviews.StockPortOverviewMV

@(stocks: List[StockPortOverviewMV])(implicit flash: Flash, request: RequestHeader)

@main("Portoman") {


<div class="column">

    <div class="tabs">
        <ul><li class="is-active"><a>Overview</a></li>
            <li><a>Fundamentals</a></li>
            <li><a>Performance</a></li>
            <li><a>Transactions</a></li>
        </ul>
    </div>

    <table class="table is-striped is-fullwidth">
        <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Last Price</th>
            <th>Change</th>
            <th>Cost basis</th>
            <th>Market value</th>
            <th>Gain</th>
            <th>Gain %</th>
            <th>Day's gain</th>
            <th>Overall return</th>
        </tr>
        </thead>

        <tbody>
        @for(s <- stocks) {
        <tr>
            <td>@s.name</td>
            <td>@s.ticker</td>
            <td>@s.closePrice (+1.20%)</td>
            <td>0.00 (closed)</td>
            <td class="has-text-right">@s.moneyPurchaseValue()</td>
            <td class="has-text-right">@s.marketValue</td>
            <td></td>
            <td></td>
            <td></td>
            <td>64.64%</td>
        </tr>
        }
        </tbody>

    </table>

    <a href="#add-transaction">+ Add transaction</a>


    <form action="/" class="hidden" id="add-transaction-form">

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Symbol</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <input class="input" type="text" placeholder="ticker">
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Type</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select>
                                <option>Buy</option>
                                <option>Sell</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Date</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="Transaction date">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Shares</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="Number of shares">
                    </div>
                </div>
            </div>
        </div>


        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Price</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="Enter total cost">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Commission</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="Enter value">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Notes</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button class="button is-primary">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>


}



