@import modelviews._

@(transactions: List[TrxListMV])(implicit flash: Flash, request: RequestHeader)

@main("Portoman") {

<div class="column">

    <table class="table is-striped is-fullwidth">
        <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Type</th>
            <th>Units</th>
            <th>Price</th>
            <th>Commission</th>
            <th>Date</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        @for(tx <- transactions) {
        <tr>
            <td>@tx.name</td>
            <td>@tx.ticker</td>
            <td>@tx.typ</td>
            <td>@tx.units</td>
            <td>@tx.price</td>
            <td>@tx.commission</td>
            <td>@tx.createdAt</td>
            <td>@tx.notes</td>
        </tr>
        }
        </tbody>

    </table>

</div>

}